/* General styles */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 32px; /* Adjusted height */
}

header .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 32px; /* Adjusted line height */
}

header .search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center; /* Ensure centered vertically */
}

header .search-bar input {
    width: 100%;
    max-width: 300px;
    padding: 3px 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    background-color: #222;
    color: #fff;
    text-align: center;
    outline: none;
    font-size: 0.8rem;
}

header .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 0.8rem;
}

.header-buttons {
    display: flex;
    gap: 20px;
}

.header-buttons button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    padding: 0;
}

.header-buttons button:nth-child(2) {
    background-color: #FFA500;
    border-radius: 4px;
    padding: 5px 10px;
}

/* Dashboard header styles */
.dashboard-header {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 40px; /* Adjusted top position */
    left: 0;
    right: 0;
    z-index: 999;
    height: 38px; /* Adjusted height */
    border-radius: 0px;
    font-size: 1rem; /* Adjusted font size */
}

.dashboard-header h1 {
    margin: 0;
    font-size: 1rem; /* Adjusted font size */
}

.policies-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e3e3e;
    position: fixed;
    padding: 0.5rem 1rem;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    top: 80px; /* Adjusted top position */
    left: 0;
    right: 0;
    z-index: 999;
    height: 28px; /* Adjusted height */
}

.policies-header h2 {
    margin: 0;
    font-size: 1rem;
}

.policies-header button {
    background-color: #FFA500;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 0.9rem;
}

#networkStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Module styles */
.module {
    background-color: #2c2c2c;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.module:hover {
    background-color: #3a3a3a;
}

.module h2 {
    margin-top: 0;
}

.chart-container {
    width: 100%;
    height: 100%;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    padding: 75px 0px 15px 0px; /* Adjusted padding */
    height: calc(107.5vh - 120px);
    box-sizing: border-box;
}

.dashboard.dimmed {
    filter: blur(5px);
    pointer-events: none;
}

.dashboard .module {
    box-sizing: border-box;
}

#currentScore {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#currentScore .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#currentScore .score-value {
    font-size: 1.5rem;
    margin-left: auto;
}

#currentScore .score-value .total-score {
    font-size: 1rem;
}

#topNotableSources {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#shaDetections {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#threatHuntingLeads {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#threatHuntingLeads .threat-leads {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#threatHuntingLeads .generated {
    font-size: 1rem;
}

#threatHuntingLeads .investigated-count {
    font-size: 1.5rem;
}

#threatHuntingLeads .generated-count {
    font-size: 1rem;
}

#trafficDistribution {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

#detectionSeverity {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#threatIntelligence {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

#recentDetections {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#cpuMemoryUsage {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    padding-bottom: 20px;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

/* Detail Box styles */
.detail-box-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.detail-box {
    background-color: #2c2c2c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 80%;
    padding: 20px;
}

.detail-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.detail-box-content {
    overflow-y: auto;
    max-height: calc(100% - 60px);
}

.close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #222;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar .close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.sidebar ul li ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-left: 20px;
}

.sidebar ul li ul li {
    margin-bottom: 5px;
}

.sidebar ul li ul li a {
    font-size: 0.9rem;
}

/* Media Queries */
@media (max-width: 1200px) {
    .dashboard {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    #threatIntelligence {
        grid-row: 3 / 4;
    }
    #recentDetections {
        grid-row: 4 / 5;
    }
    #cpuMemoryUsage {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }
}

@media (max-width: 800px) {
    .dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    #cpuMemoryUsage {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
}

/* Additional styles for Network page */
#topSourceIPs, #topDestinationIPs, #numHosts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#topSourceIPs ul, #topDestinationIPs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#topSourceIPs ul li, #topDestinationIPs ul li {
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
}

#uniqueIPs {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    justify-content: center;
}

#importantPorts {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

#topSourceIPs {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#topDestinationIPs {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#numHosts {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#numHosts .host-count {
    font-size: 3rem;
    color: #fff;
}

#trafficDistribution {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#placeholderModule {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

/* Custom styles for unique IPs container */
.unique-ips-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.unique-ip {
    text-align: center;
}

.ip-label {
    font-size: 1.2rem;
    text-align: center;
}

.ip-count {
    font-size: 4rem;
}

.separator {
    font-size: 6rem;
    margin: 0 10px;
    color: #fff;
}

/* Policies page styles */

.policies-table {
    width: 100%;
    top: 90px;
    margin-top: 20px;
    border-collapse: collapse;
}

.policies-table th,
.policies-table td {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
}

.policies-table th {
    background-color: #555;
    color: #fff;
}

.policies-table td {
    background-color: #2c2c2c;
    color: #fff;
}
